<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyLens</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        gray: {
                            850: '#181f29'
                        }
                    }
                }
            }
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body class="bg-gray-800 font-sans leading-normal tracking-normal">
    <div class="container mx-auto my-8">
        <div id="title" class="text-4xl font-bold rainbow-text">Osint <b>Py</b>lens</div>

        <div id="alert" class="m-3 shadow-xl hidden">
            <div id="alert-title" class="rounded-t shadow-xl px-4 py-2 font-bold text-white"></div>
            <div id="alert-body" class="rounded-b border border-t-0 px-4 py-3">
                <p>something not ideal might be happening.</p>
            </div>
        </div>

        <div class="container">
            <div class="grid grid-cols-3 gap-4">
                <div class="col-span-2">
                    <form id="domainForm" action="/" method="post" class="max-w-sm mx-auto mb-6 relative">
                        <div class="mb-4">
                            <label for="image_url" class="block text-sm font-bold mb-2">Put your image url:</label>
                            <input type="text" name="image_url" id="image_url"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        </div>
                        
                        <div class="mb-4">
                            <label for="result_count" class="block text-sm font-bold mb-2">Results count:</label>
                            <select name="result_count" id="result_count"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="unlimited">Unlimited</option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="result_count" class="block text-sm font-bold mb-2">Search engines:</label>
                            <ul
                                class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                                    <div class="flex items-center ps-3">
                                        <input id="vue-checkbox-list" type="checkbox" value="google" name="search_engine"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                        <label for="vue-checkbox-list"
                                            class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Google</label>
                                    </div>
                                </li>
                                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                                    <div class="flex items-center ps-3">
                                        <input id="react-checkbox-list" type="checkbox" value="yandex" name="search_engine"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                        <label for="react-checkbox-list"
                                            class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Yandex</label>
                                    </div>
                                </li>
                                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                                    <div class="flex items-center ps-3">
                                        <input id="angular-checkbox-list" type="checkbox" value="bing" disabled name="search_engine"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                        <label for="angular-checkbox-list"
                                            class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Bing</label>
                                    </div>
                                </li>
                                <li class="w-full dark:border-gray-600">
                                    <div class="flex items-center ps-3">
                                        <input id="laravel-checkbox-list" type="checkbox" value="tineye" name="search_engine"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                        <label for="laravel-checkbox-list"
                                            class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">TinEye</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <button type="submit"
                            class="bg-gradient-to-r from-purple-400 to-blue-500 hover:from-pink-500 hover:to-purple-500 text-white font-semibold px-6 py-3 rounded-md"
                            id="searchButton">
                            <span>Search</span>
                            <i id="loadingIcon" class="fas fa-spinner fa-spin ml-2 hidden"></i>
                        </button>
                    </form>
                </div>
                <div id="currentImagePreview border-gray-100 border">
                    <img src="" class="p-3" id="imagePreview" />
                </div>
            </div>
        </div>
        

        <div id="imagesResult" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 px-4 hidden"></div>

        <div class="signature">
            <img class="w-4 rounded-full mr-2"
                src="https://i0.wp.com/wikibiostars.in/wp-content/uploads/2022/04/Hasbulla.jpg" alt="Signature">
            <span>Made by Liroxs</span>
        </div>

        <div id="loadingScreen" class="hidden fixed inset-0 bg-gray-800 bg-opacity-75 flex justify-center items-center">
            <div class="loader"></div>
        </div>
    </div>
</body>
</html>
